// Main colors
$leaf_color : lightgreen;
$ash_color : brown;
$ice_beam_color :lightblue;
$cobra_color : none;
$campeche_color : darkgreen;
$arena2_color : grey;

//Text shadow colors
$leaf_color_shadow : darkgreen;
$ash_color_shadow : rgb(100,10,10);
$ice_beam_color_shadow : darkblue;
$cobra_color_shadow : grey;
$campeche_color_shadow : rgb(0, 69, 9);
$arena2_color_shadow : darkgrey;

// Sizes
$fontSize : 65px;


// urls
$soldat_dm_leafs : 'https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/39047169_10156449058312969_8077360756670070784_o.jpg?_nc_cat=103&_nc_sid=e007fa&_nc_oc=AQktrgktnzKX06-Cj211CQ9Ky28DK_zwD7TNUSmhTTeXhdZftwvKljBrlvJJbS9yrKg&_nc_ht=scontent-arn2-1.xx&oh=64dbf73f7d6ed5e56c8a6763af2745cd&oe=5EBB6691';
$soldat_ctf_ash : 'https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/31408285_10156202939257969_5670020364512526336_o.jpg?_nc_cat=102&_nc_sid=e007fa&_nc_oc=AQnJ9ATWrqUgxE2ovf8F8HqDeTHAXheGCcd1ZdrTt4Cu6XulZysj1s19eNSNZlGJeBE&_nc_ht=scontent-arn2-1.xx&oh=de6199fe37d3a893d3061e7c3e8e1af6&oe=5EE575BD';
$soldat_ctf_icebeam : 'https://scontent-arn2-2.xx.fbcdn.net/v/t1.0-9/31646775_10156207802027969_8142631915833262080_o.jpg?_nc_cat=100&_nc_sid=e007fa&_nc_oc=AQlFq0JpgTanxmprHlxV_dKuLCwn15JDm7JCFD-TOPCPHT5zzu5mT4EGmcVqk04sREM&_nc_ht=scontent-arn2-2.xx&oh=c08193045b87420935645baf43820141&oe=5EEBFA6B';
$soldat_ctf_cobra : 'https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/31933881_10156215793577969_7655486597588058112_o.png?_nc_cat=103&_nc_sid=e007fa&_nc_oc=AQntgOQJEkIJW4LS6o2uusgDNZbEWXIFRJkaBO6XtRDTpD8B7bCBFdNvmTib_-QAh3A&_nc_ht=scontent-arn2-1.xx&oh=160ed1e42f812a421e38891c3c3dc486&oe=5EB7EA65';
$soldat_ctf_campeche : 'https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-9/31641881_10156209921002969_2402508309136408576_o.png?_nc_cat=102&_nc_sid=e007fa&_nc_oc=AQmqTE24mk-WVLwPBPMP_bN_oSpS-cbfQs0QO7Uk1JbF2uvEGnIwm0uZTyE5mhDd4rw&_nc_ht=scontent-arn2-1.xx&oh=deccfef0f485c6a55964f2f9e59bb3f4&oe=5EB9E450';
$soldat_dm_arena2 : 'bilder/arena2.png';


// Emojies
// 😭 🍃 ⚱️ ❄️ 🐍 ⛺